.App {
    text-align: center;
}

.container {
    position: relative;
    padding: 16px;
    margin: auto;
    width: 720px;
}

.labelbar {
    height: 50px;
}

label {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bold;
}

#input-area {
    padding: 0;
    margin: 0;
    width: 720px;
    height: 240px;
    font-size: 20px;
}

#settings-area {
    position: absolute;
    top: 20px;
    left: 650px;
    padding: 0;
    margin: 0 20px;
    width: 50px;
    height: 38px;
    font-size: 32px;
    text-align: center;
}

input {
    position: absolute;
    top: 20px;
    left: 300px;
    padding: 0px;
    margin: 0 20px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

ol {
    padding: 0;
    margin: 0;
    overflow: visible;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 640px;
    overflow: visible;
}

li {
    display: inline-block;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    overflow: visible;
}
